body{
    background-image: url('Images/bgImg2.png');
    background-size:cover;
    background-position-x: right;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.container{
 display: grid;  
 grid-column: auto;
}
.header{
    /* border: 2px solid black; */
    border-radius: 20px;
    padding: 5px ;
    text-align: center;
    background: rgb(75, 194, 241);
    margin: 50px auto;
    width: 30%;
    transition: width 2s;
    color: rgb(53, 46, 70);
}

.header:hover{
    width: 50%;
    color: rgb(22, 21, 26);
}
.watch-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 50vh;
    height: 50vh;
    margin: auto ;
    background: rgba(176, 226, 232, 0.34);
    border-radius: 10px;
    box-shadow: 2px 0px 10px;
    gap: 40px;
    
}

.watch{
    display: flex;
}

.hh,.mm,.ss,.ms{
    background: white;
    padding: 15px;
    margin: 5px;
    border-radius: 5px;
    font-size: 20px;
}

span {
    align-items: center;
    background : none;
    padding: 10px;
    margin: 5px;
}

.btn{
    padding: 10px 20px;
    border-radius: 4px;
    border: none;
    margin: 5px;
    box-shadow: 2px 0px 3px;
    font-size: 13px;
}
.btn:hover{
    transform: scale(1.1);
    box-shadow: none;
    
}
.start{
    background: rgb(0, 255, 0);
}


.stop{
    background: rgb(234, 59, 59);
}

.reset{
    background: greenyellow;
}

.prev-record{
    /* overflow-y: scroll; */
    display: none;
    flex-direction: column;
    padding: 10px 20px;
    background-color: #fff;
    margin: 50px auto 0px auto;
    width: 30%;
    height: 70%;
    justify-content: center;
    border-radius: 5px;
    /* border: 1px solid red; */
}

.prev-record h3{
    text-align: center;
    margin-top: 5px;
    padding-top: 5px;
    /* border: 1px solid green; */
}

.records{
    margin: 0px 5px 0px 5px;
    padding: 5px;
    font-size: medium;
    text-align: center;
    font-size: 18px;
    height: 50px;
    overflow-y: scroll;
    /* border: 1px solid rebeccapurple; */
}

.records p{
    margin: 1px;
}